*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: solid;
    color:#555;
}
p{
    color:#555;
}
.container{
    max-width: 1300p;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 35px 0;

}
.btn{
    display:inline-block;
    background-color: hotpink;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background o.5s;
}
.btn:hover{
    background: #563456;
}
.header{
    background:radial-gradient(#fff,#ffd6d6,#d3d3d3);
}
.header .row{
    margin-top: 70px;

}
.categories{
    margin: 70px 0;
}
.col-4{
    flex-basis:25%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
        

}
.small container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25p;
}
.col-5{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-5 img{
    width:100%
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position: realtive;
    color:#555;
}
.title::after{
    content: #ff523b;
    width: 80px;
    height:5px;
    border-radius: 5px;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(50%)

}
.Menu-icon{
    width: 35px;
    margin-left: 35px;
   

}

.row-2{
    justify-content: space-between ;
    margin: 100px 50px;
}
select{
    border: 1px solid #ff3b86;
    padding: 5px;

}
select:focus{
    outline: none;
}




.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0%;

}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff3b86;
}

.small-img-row{
    display:flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}



.account-page{
    padding: 50px o;
    background:radial-gradient(#fff,#ffd6d6,#d3d3d3);
}
.form-container{
    background:#fff;
    width: 300px;
    height: 480px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color:#555;
    cursor: pointer;
    width: 100px;
    display: inline-block;


}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
.form input{
    width: 100px;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form.btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form.btn:focus{
    outline: none;

}
#LoginForm{
    left: -300px
}
#RegForm{
    left: 0;
}

#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}


<!--shopping cart-->





.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: hotpink;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #db77e4;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

<!--logged in page-->

.header {
    height: 100px;
    border-radius: 3px;
    background-color:  rgb(37, 36, 36);
    margin: 3vh 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-a {
    height: 200px;
    border-radius: 3px;
    background-color:  rgb(161, 153, 159);
    margin: 3vh 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar p{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 7px 15px;
}
.navbar ul li a:hover{
    background-color: white;
    color: rgb(189, 101, 159);
    border-radius: 3px;
}
.navbar-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    width: 130px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
}
.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}




@media only screen and (max-width: 800px){
    nav ul{
        position:absolute;
        top: 70px;
        left: 0;
        background: hwb(0 61% 5%);
        width: 100px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .menu-icon{
        display:block;
        cursor: pointer;

    }
}